<% layout('layouts/boilerplate') %>
<a href = "/allmodels/phone/sell">Sell Phone</a>
<a href = "/buy/phone">Buy Phone</a>
<a href = "/refurbish/phone">Refurbish Phone</a>
<a href = "/rent/phone">Rent Phone</a>
<a href = "/recycle/phone">Recycle Phone</a>
<a href = "/allmodels/phone/repair">Repair Phone</a>

 