<% layout('layouts/boilerplate') %>
<form action = "/model" method = "post" enctype="multipart/form-data">
    <label for="thumbnail">Thumbnail:</label>
    <input type="file" accept="image/*" name="image" id="thumbnail">
        
    <label for="image">Images:</label>
    <input type="file" multiple accept="image/*" name="image" id="image">

        <input type = "submit" value = "submit">
</form>