<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "POST">
        <input type = "submit" formaction="/brand?brand=apple" value = "apple">
        <input type = "submit" formaction="/brand?brand=boat" value = "boat">
        <input type = "submit" formaction="/brand?brand=samsung" value = "samsung">
        <input type = "submit" formaction="/brand?brand=canon" value = "canon">
        <input type = "submit" formaction="/brand?brand=hp" value = "hp">
        <input type = "submit" formaction="/brand?brand=oneplus" value = "oneplus">
        <input type = "submit" formaction="/brand?brand=lenevo" value = "lenevo">
    </form>
</body>
</html>