<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST">
    <input type = "submit" formaction="/sell" value = "Sell"/>
    <input type = "submit" formaction="/buy" value = "Buy"/>
    <input type = "submit" formaction="/maintenance" value = "Maintenance"/>
    <input type = "submit" formaction="/rent" value = "Rent"/>
    <input type = "submit" formaction="/recycle" value = "Recycle"/>
    <input type = "submit" formaction="/repair" value = "Repair"/>
    </form>

</body>
</html>