<% layout('layouts/boilerplate') %>
<h1>Add Product</h1>
<form action="/products" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="products[name]" id="name">

        <label for="model">model:</label>
        <input type="text" name="products[model]" id="model">

        <label for="price">Price:</label>
        <input type="number" name="products[price][amount]" id="name">

        <label for="brand">Brand:</label>
        <input type="text" name="products[brand]" id="brand">

        <label for="type">Type:</label>
        <select name="products[type]" id="type">
            <option>Phone</option>
            <option>Laptop</option>
            <option>Earbuds</option>
            <option>Camera</option>
            <option>Smartwatch</option>
            <option>Headphone</option>
        </select>

        <label for="image">Images:</label>
        <input type="text" name="products[image]" id="image">

        <label for="thumbnail">Thumbnail:</label>
        <input type="text" name="products[thumbnail]" id="thumbnail">
    </div>

    <div>
        <label for="ram">Ram:</label>
        <input type="text" name="specification[ram]" id="ram">

        <label for="storage">Storage:</label>
        <input type="text" name="specification[storage]" id="storage">

        <label for="colour">Colour:</label>
        <input type="text" name="specification[colour]" id="colour">
    </div>

    <button>Add</button>
</form>